.programs-container{
  margin: 150px 50px 100px 50px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
}
.programs-container p{
  font-weight: 200;
}
.programs-container h5{
  font-weight: 400;
  margin-bottom: 12px;
}
.programs-card{
  padding: 10px;
}

.fade-text{
  color: rgb(220, 220, 221);
}

.read-more-link {
  text-decoration: none;
  color: #3b5998; 
  font-weight: 500;
  transition: opacity 0.3s;
}
