html, body {
  height: 100%;
  overflow-y: auto;
}

.num-blue{
  color: #113b7e;
}
.num-info{
  background-color: #f1f3f7;
}


.image-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://lh3.googleusercontent.com/gps-cs-s/APNQkAGbvhAV378loBXZbI2tKONyueADhlm87S2sKBnNsg8j1peyWokhZDRS9dgFL3_FMrYcRsX41kg_KVvQyQ8l8J3L0sKFY8jDahJfdanrLrE26Q3RGvspXDxxSjYRRDNjeK8ymmlfNugJeqUy=s1360-w1360-h1020-rw');
  background-size: cover;      
  background-position: center; 
  height: 100vh;               
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.lead a{
  color: inherit;
  text-decoration: none;
}

.lead :hover{
  cursor: pointer;
}

.carousel-inner img {
  height: 100vh;
  object-fit: cover;
}



