.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: transform 0.3s ease-in-out; 
  transform: translateY(-100%); 
  z-index: 1000;
  border-style: solid;
  border-color: #113b7e;
}


.navbar-visible {
  transform: translateY(0);
}
